header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    height: 65px;
    padding: 0 86px;
    border-bottom: 1px solid rgb(221, 221, 221);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dark-light-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--secondary);
}

main {
    margin-top: 65px;
    height: auto;
}

.main-wrapper {
    width: 100%;
    padding-left: 86px;
    padding-right: 86px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    height: calc(100vh - 65px);
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-title {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.2;
}

.hero-image {
    width: 40%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    overflow: hidden;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

.about, .partnerships {
    background-color: #ebe9e9;
    padding-top: 128px;
    padding-bottom: 128px;
}

.about-content, .partnerships-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
}

.about-title, .promotion-title, .partnerships-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.about-description, .partnerships-description {
    text-align: center;
    font-size: 18px;
    color: #666666;
    width: 80%;
}

.promotion {
    padding-top: 128px;
    padding-bottom: 128px;
}

.promotion-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.promotion-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    padding: 32px 64px;
}

.promotion-item {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 32px;
}

.promotion-item-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    text-align: center;
    width: 90%;
}

.promotion-item-icon {
    width: 20%;
    aspect-ratio: 1/1;
    fill: var(--contrast);
}